<h1>add a dish</h1>

<form>
  <label for="category">Category</label>
  <select id="category" name="category">
    <option value="starter">Starter</option>
    <option value="main">Main</option>
    <option value="dessert">Dessert</option>
  </select>
  <p>
    <label for="name">Dish Name:</label>
    <input type="text" id="name" />
    <label for="price">Dish Price:</label>
    <input type="number" id="price" />
  </p>
</form>
