<form action="/auth/register" method="post">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username"/></p>
  <label for="password">Password:</label>
  <input type="password" name="user[password]" id="password"/></p>
  <input type="submit" value="Register" />
</form>
